<.flash_group flash={@flash} />

<div class="bg-gray-100 p-4">

<button title="Create a random room" class="btn border border-black p-1 rounded" phx-click="random-room">Create a random room</button>
<header>Alright bet</header>
yeah sure
</div>